<?xml version="1.0" encoding="UTF-8"?>

<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<!-- dao层实现 -->
	<bean id="auxsysRoleDao" class="zzvcom.sys.dao.AuxsysRoleDao">
	</bean>
	
	<!-- 服务层实现 -->
	<bean id="roleService" class="zzvcom.sys.service.impl.RoleServiceImpl">
		<property name="auxsysRoleDao" ref="auxsysRoleDao"></property>
	</bean>
</beans>