<?xml version="1.0" encoding="UTF-8"?>

<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">	
	<bean id="mongoManager" class="zzvcom.sys.util.MongoManager">
	</bean>
	<bean id="webAppDao" class="com.vcom.auxsys.dao.impl.WebAppDaoImpl">
		<property name="mongoManager" ref="mongoManager"></property>
	</bean>
	<bean id="webAppService" class="com.vcom.auxsys.service.WebAppService">
		<property name="webAppDao" ref="webAppDao"></property>
	</bean>
</beans>