<?xml version="1.0" encoding="UTF-8"?>
<!-- 设置log4j2的自身log级别 -->
<!-- OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- monitorInterval是用来设置配置文件的动态加载时间的，单位是秒。
monitorInterval="30"表示每30秒配置文件会动态加载一次。 -->
<Configuration status="INFO" monitorInterval="30">

	<properties>
		<property name="LOG_HOME">/etc/vcom</property>
	</properties>


	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p (%F:%L) - %m%n" />
		</Console>
		
		<RollingRandomAccessFile name="logfile"
		fileName="${LOG_HOME}/loginfo.log"
		filePattern="${LOG_HOME}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout
			pattern="%d %-5p (%F:%L) - %m%n"/>
			<Policies>
			<TimeBasedTriggeringPolicy/>
			<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingRandomAccessFile>

	</Appenders>

	<Loggers>
		<!-- 3rdparty Loggers -->
		<!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
		<logger name="org.springframework" level="INFO"></logger>
		<logger name="org.mybatis" level="INFO"></logger>

		<root level="INFO" includeLocation="true">
			<appender-ref ref="Console"/>
			<appender-ref ref="logfile"/>
		</root>	
		
		<logger name="abc1" level="info" includeLocation="true" additivity="false">
			<appender-ref ref="DebugFile"/>
			<appender-ref ref="Console"/>
		</logger>

	</Loggers>
</Configuration>